// iPhone 5 & 5S in portrait
@media only screen 
and (min-device-width : 320px) 
and (min-device-height : 568px) 
and (orientation : portrait) {
	.close {
		top: 12px;
	}
    .content {
        width: 280px;
        h1 {
            margin-top: 89px;
            font-size: 32px;
            height: 38px;
        }
        .button-group {
			.button {
				&_container {
					.button_discount {
						max-width: 85px;
						width: 85px;
						span {}
						.discount {
							font-size: 17px;
						}
						.year_discount {
							font-size: 12px;
						}
					}
					.button_description {
						width: 140px;
						max-width: 140px;
						left: 13px;
						p {
							font-size: 12px;
						}
					}
				}
			}
        }
    }
    .list {
        width: 228px;
        margin: auto;
        margin-top: 32px;
		margin-bottom: 47px;
		letter-spacing: -0.65px;
        &-item {
            &-icon-wrap {

            }
            &-description {
                font-size: 16px;
            }
        }
	}
	.substrate {
		display: none;
	}
}